@model List<MyDataModel>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Data from API</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2>Data from API</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Property 1</th>
                <th>Property 2</th>
                <th>Property 3</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Property1</td>
                <td>@item.Property2</td>
                <td>@item.Property3</td>
            </tr>
            }
        </tbody>
    </table>
    <script src="~/js/site.js"></script>
</body>
</html>
